<p id="notice"><%= notice %></p>

<p>
  <b>Name:</b>
  <%= @location.name %>
</p>

<p>
  <b>Address:</b>
  <%= @location.address %>
</p>

<p>
  <b>City:</b>
  <%= @location.city %>
</p>

<p>
  <b>State:</b>
  <%= @location.state %>
</p>

<p>
  <b>Zip:</b>
  <%= @location.zip %>
</p>

<p>
  <b>Lot Type:</b>

  <% @lot_types.each do | lot_type | %>
       <li><%= link_to lot_type.description, location_lot_type_path(@location, lot_type) %> - <%= lot_type.rate%></li>

  <% end %>
</p>


<%= link_to 'Edit', edit_location_path(@location) %> |
<%= link_to 'Back', locations_path %>
